main {
    background-image: url(img/template.jpg);
    
    background-repeat: no-repeat;
    background-size: 100%;
    
    
}

h1 {
    margin-top: 70px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    
    
    padding-bottom: 20px;
    color: rgb(248, 248, 6);
    font-weight: 600;
    text-align: center;
    background-color: brown;
    margin-bottom: 50px;
    
}

body {
    background-color: rgb(28, 1, 1);

}