/* Menü-Button anpassen */
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='aqua' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-dark .navbar-toggler {
      border: 1px solid aqua;
      
    }
    .navbar-dark .navbar-toggler:focus {
      box-shadow: none
    }
    .tog-button:hover .navbar-toggler {
      border: 1.5px solid powderblue;
    }
    .tog-button:hover .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='powderblue' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    /* Close-Button X oben rechts anpassen, Farbe: fill...%23 + Farbcode */
    .offcanvas-header .btn-close {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300ffff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    }

    /* Farbe Platzhalter in Suchleiste */
    .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgb(30, 1, 30);
            opacity: 1; /* Firefox */
    }

    .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgb(30, 1, 30);
    }

    .form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: rgb(30, 1, 30);
    }

    /* Navbar + Menü anpassen */
    .navbar-dark {
        background-color: rgb(30, 1, 30);
    }
    .navbar-dark .navbar-brand {
        font-family: "Audiowide";
        color:aqua;
        font-size: 1.5em;
        margin-top: auto;
    }
    .offcanvas {
        background-color: rgb(30, 1, 30);
        color: aqua;
        font-size: 1em;
    }
    .offcanvas-body .navbar-nav .nav-item {
        padding: 1px;
        margin-left: 10px;
    }
    .offcanvas .offcanvas-title {
        font-size: 2em;
        font-family:"Roboto Condensed";
    }
    .offcanvas .btn-close {
        margin-top: -20px;
        margin-right: 1px;
    }
    .offcanvas .nav-item .nav-link {
        color: whitesmoke;
        font-family: "Roboto Condensed";
        font-weight: bold;
        padding: 0.8rem 0.8rem;
    }
    .offcanvas .nav-item:hover .nav-link,
    offcanvas .nav-item.active .nav-link {
        color: rgb(30, 1, 30);
        background-color: rgba(0, 255, 255, 0.81);
        font-weight:bold;
        margin-right: -30px;
        margin-left: -25px;
        transition: all .5s;
        border-radius: 5px;
        padding-left: 2rem;
    } 
    a.navbar-brand:hover {

      filter: brightness(120%);
      color:rgb(66, 242, 242);
      font-weight: 600;
    
    }

    /* Grundeinstellungen Body */
    body {
  background-color: rgb(17, 0, 17);
  padding: 25px;
  
}